.dashboard-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #fad406;
}
.dashboard-menu li{
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
}